<div class="card">
    <img src={{imageUrl}} class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <blockquote class="blockquote">
            <footer class="blockquote-footer">
                <small class="text-muted">
                    Contributor:
                    <cite title="Source Title">{{username}}</cite>
                </small>
            </footer>
        </blockquote>
        <p class="card-text">{{content}}</p>
    </div>
</div>